* {
	margin: auto;
	color: white;
	text-align: center;
}

h1 {
	font-family: "Courier New", Courier, monospace;
}

h2 {
	color: white;
	font-family: "Kalam", cursive;
}
p {
	color: white;
	text-align: left;
}

b {
	color: white;
}

section {
	height: 550px;
	width: 100%;
	text-align: center;
}

section.section1 {
	background-color: rgb(0,0,0);
	display: inline-block;
	vertical-align: middle;
	height: 200px;
}

section.section2 {
	background-color: rgb(0,128,128);
}

section.section2-1 {
	max-width: 60%;
	height: 100px;
	word-wrap: break-word;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height:115px;
}

.blinking-cursor {
	font-weight: 100;
	font-size: 30px;
	color: white;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
	from, to { color: transparent; }
	50% { color: white; }
}

@-moz-keyframes blink {
	from, to { color: transparent; }
	50% { color: white; }
}

@-webkit-keyframes "blink" {
	from, to { color: transparent; }
	50% { color: white; }
}

@-ms-keyframes "blink" {
	from, to { color: transparent; }
	50% { color: white; }
}

@-o-keyframes "blink" {
	from, to { color: transparent; }
	50% { color: white; }
}